.interviewer-wrapper {
    background-color: #dde6eb;
    border: 1px solid rgb(210, 175, 233);
    border-radius: 5px;
    margin: 20px 0px;
}

.interviewer-wrapper h3 {
    padding: 10px;
    border-bottom: 1px solid rgb(210, 175, 233);
}
