#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    z-index: 1002;
    background-color: #d7e4ec;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.navbar-header{
    display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0
}
.navbar-header a{
    text-decoration: none;
    margin-left: 5px;
    color: #555b6d;
}
#page-header-notifications-dropdown {
    border: none !important;
}
.noti-icon {
    position: relative;
}
.noti-icon i {
    font-size: 22px;
    color: #555b6d;
}

.badge{
    position: absolute !important;
    top: -1px;
    right: 2px;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
}

.notification-item .d-flex {
    padding: 0.75rem 1rem;
}
.notification-item .d-flex:hover {
    background-color: #f6f6f6;
}

.dropdown-menu {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    margin: 0;
    position: absolute;
    z-index: 1000;
    width: 320px;
}