.card {
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: 0.25rem;
}
.mini-stats-wid .mini-stat-icon::before{
    overflow: hidden;
    position: relative;
    content: "";
    position: absolute;
    width: 8px;
    height: 54px;
    background-color: rgba(#fff,.1);
    left: 16px;
    transform: rotate(32deg);
    top: -5px;
    transition: all 0.4s;
}
