.vertical-menu {
  width: 220px;
  z-index: 1001;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  padding-top: 70px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.navbar-brand-box {
  position: fixed;
  top: 0px;
  z-index: 99;
}

.sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50%;
  opacity: 0.2;
  background-color: #259aee;
}

.sidebar-item {
  margin-top: 130px;
}

.sidebar-item ul {
  padding-left: 0px;
}

.sidebar-item ul li {
  list-style-type: none;
  padding: 10px;
}

.sidebar-item ul li a {
  text-decoration: none;
  box-shadow: none;
  padding: 8px 10px;
  position: relative;
  width: 190px;
  z-index: 6;
  color: #2200bb;
  font-size: 18px;
}

.active-nav {
  border-left: 4px solid #d66b07;
  background: #8cbfee;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgb(210, 175, 233);
  border-radius: 0.25rem;
}

.mini-stats-wid .mini-stat-icon::before {
  overflow: hidden;
  position: relative;
  content: "";
  position: absolute;
  width: 8px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.1);
  left: 16px;
  transform: rotate(32deg);
  top: -5px;
  transition: all 0.4s;
}
