.interviewee-table {
  padding: 20px;
}

.body {
  height: 85vh;
}
.body .interviewer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(210, 175, 233);
}
.body .interviewer-title h3 {
  padding: 0 !important;
  border-bottom: none !important;
}

.interviewer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(210, 175, 233);
}
.interviewer-title h3 {
  padding: 0 !important;
  border-bottom: none !important;
}

.question-body {
  border: 1px solid rgb(210, 175, 233);
  border-radius: 5px;
  margin: 10px;
  height: 70vh;
  display: flex;
}

.list-question {
  list-style: none;
  padding: 0;
  height: 75%;
  margin: 0;
}
.list-question .header {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  padding: 6px 0 6px 25px;
  border-bottom: 1px solid rgb(210, 175, 233);
}
.list-question .list-wrapper {
  overflow-y: scroll;
  height: 100%;
}
.list-question .list-wrapper .question a {
  text-decoration: none;
  color: black;
}
.list-question .list-wrapper .question a span {
  color: #3b3b3b;
}

.left {
  border-right: 1px solid rgb(210, 175, 233);
  height: 100%;
}

.right {
  text-align: center;
  margin: auto;
}

.filter {
  border-bottom: 1px solid rgb(210, 175, 233);
  padding: 10px;
}

.question {
  padding: 14px 0 16px 25px;
  border-bottom: 1px solid rgb(210, 175, 233);
}

.question-right {
  position: relative;
}
.question-right .question-detail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.question-right .question-detail .header {
  border-bottom: 1px solid rgb(210, 175, 233);
  padding: 30px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.question-right .question-detail .header .info h5 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}
.question-right .question-detail .header .info span {
  padding: 0;
  color: #2b2929;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 2px;
  font-style: italic;
}
.question-right .question-detail .header .info p {
  font-size: 11px;
  line-height: 10px;
  text-transform: uppercase;
  color: #0f1113;
  margin-bottom: 0px;
  padding: 24px 0 0;
}
.question-right .question-detail .question-content {
  padding: 20px 20px 60px;
  height: 70%;
}
.question-right .question-detail .question-content .CodeMirror {
  height: 100%;
}
.question-right .question-detail .action {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
